### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
data = [4,8,15,16,23,42]

In [5]:
df=pd.DataFrame(data)

In [12]:
df[0]

0     4
1     8
2    15
3    16
4    23
5    42
Name: 0, dtype: int64

In [10]:
type(df[0])

pandas.core.series.Series

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [26]:
import random
a=range(1,11)
variable=pd.Series(list(a))
print(type(variable))
variable

<class 'pandas.core.series.Series'>

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Create a Pandas DataFrame that contains the following data:

In [27]:
data ={'Name':["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}

In [29]:
Data=pd.DataFrame(data)

In [30]:
Data.head()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A two-dimensional structure with columns and rows whose size can be changed.

The data parameter can take any of the following data types: Dictionary (dict) of – 1D ndarray, lists, or Series.

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Filter,Apply,Group,lambda

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable. The length of a Series cannot be changed, but, for example, columns can be inserted into a DataFrame.

### Q7. Create a DataFrame using multiple Series. Explain with an example.