### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a non-relational document database that provides support for JSON-like storage. The MongoDB database has a flexible data model that enables you to store unstructured data, and it provides full indexing support, and replication with rich and intuitive APIs.


NoSQL databases (aka "not only SQL") are non-tabular databases and store data differently than relational tables. NoSQL databases come in a variety of types based on their data model. The main types are document, key-value, wide-column, and graph.

Lesser Server Cost and Open-Source NoSQL databases are cheap and open source. NoSQL database implementation is easy and typically uses cheap servers to manage the exploding data and transaction while RDBMS databases are expensive and it uses big servers and storage systems.

### Q2. State and Explain the features of MongoDB.

Ad-hoc queries for optimized, real-time analytics

Indexing appropriately for better query executions

Replication for better data availability and stability

Sharding

Load balancing

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://jyothish:<password>@cluster0.ocugabz.mongodb.net/?retryWrites=true&w=majority")
db = client.test

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [3]:
client = pymongo.MongoClient("mongodb+srv://jyothishsnair92:ATHU12345@cluster0.ocugabz.mongodb.net/?retryWrites=true&w=majority")

In [4]:
db = client['Course']

In [5]:
data ={'Name':'Jyothish','Class':'Data Science Course','Time':'Flexi'}

In [6]:
collection=db['Details']

In [7]:
collection.insert_one(data)

In [8]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [9]:
collection.insert_many(data2)

In [10]:
collection.find_one()

{'_id': ObjectId('63fafc8ff9c28a6296d7fef6'),
 'Name': 'Jyothish',
 'Class': 'Data Science Course',
 'Time': 'Flexi'}

In [11]:
import logging

logging.basicConfig(filename = "test.log",level=logging.INFO)

for i in collection.find():
    logging.info(i)

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code todemonstrate this.

find() method is used to select documents in a collection and return a cursor to the selected documents.

Syntax:

   db.Collection_name.find(selection_criteria, projection,options)

In [12]:
db.student.find()

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method can be used to sort the metadata values for a calculated metadata field.

In [14]:
for i in collection.find({'Name':'Jyothish'}):
    logging.info(i)

### Q7. Explain why delete_one(), delete_many(), and drop() is used.